@charset "utf-8";

/*공통*/
body{color: #000;}
section.section{background: no-repeat 50% 0%;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: contain;}
h3{font-weight: 900; font-size: 58px;}
#cnt1,#cnt2,#cnt3,#cnt4,#cnt5,#cnt6{height: 100vh; box-sizing: border-box; }
.contain{position: relative;}

/*cnt1*/
#cnt1{background-color: #d91229; color: #fff;}

#cnt1 .deco{position: absolute; left: 0; top: 230px; width: 914px; height: 91px; 
    background: url('../images/mobile/deco.png') no-repeat center; z-index: 100;}
#cnt1 .left{position: absolute; left: 0; top: 290px; z-index: 200;}
#cnt1 .left span{display: block; font-size: 28px;padding-bottom: 10px;}
#cnt1 .left h2{font-weight: 900; font-size: 58px; padding-bottom: 10px;}
#cnt1 .left p {font-size: 18px; line-height: 40px; padding-bottom: 20px;}
#cnt1 .left .ps{display: inline-block; background: url(../images/mobile/ps.png) no-repeat center; width: 52px; height: 52px; padding-right: 10px;}
#cnt1 .left .ai{display: inline-block; background: url(../images/mobile/ai.png) no-repeat center; width: 52px; height: 52px;}

#cnt1 .right{position: absolute;right: 60px; top: 140px; z-index: 300;} 

/*cnt2*/
#cnt2{background: #fff; text-align: center;}
#cnt2 h3{color: #d91229; padding:150px 0 130px 0;}
#cnt2 .reson {width: 1130px; margin: 0 auto; font-size: 18px;}
#cnt2 .reson >li{position: relative; width: 250px; height: 250px; border: 10px solid #d91229; border-radius: 50%;box-sizing: border-box;}
#cnt2 .reson > li:before{position: absolute; top:270px; content: ''; width: 2px; height: 30px; background: #656565;}
#cnt2 .reson >li p {padding-top: 80px; font-weight: 900;}
#cnt2 .reson >li p strong{display: block; padding-top: 6px; font-size: 30px;}
#cnt2 .reson >li +li{margin-left: 190px;}
#cnt2 .reson >li ul{position: absolute; top: 320px; left:50%; margin-left: -185px;}
#cnt2 .reson >li ul li{width: 370px;line-height: 34px;}


/*cnt3*/
#cnt3{background: #f44d23; text-align: center; color: #fff;}

#cnt3 .deco{}
#cnt3 h3{padding-top:150px;}
#cnt3 p{padding-top: 10px; font-size: 18px;}
